body {
  font-family: 'Roboto', sans-serif;
  color: #303952;
  font-size: 100%;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #546de5;
  text-decoration: none;
}

p.header {
  font-weight: bold;
  color: #e66767;
  // color: #95a5a6;
}

.gl-div {
  padding: 4px;
  border: 2px solid #ebeff9;
  border-radius: 4px;
  margin: 0 0 8px 0;
  p {
    margin: 2px;
  }
}